* {
     /* user-select: none; */
     overflow: visible;
}

.darkMode {
     background: #000;
     color: #fff;
}

.paddingcontainer {
     @apply mx-auto px-8 max-w-screen-2xl;
}

.paddingbuttom {
     @apply py-6;
}

.paddingform {
     @apply mx-auto px-8 max-w-7xl;
}

.underline-animation {
     position: relative;
     display: inline-block;
}

.underline-animation::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: currentColor;
     transform-origin: bottom right;
     transition: transform 0.3s ease-out;
}

.underline-animation:hover::after {
     transform: scaleX(1);
     transform-origin: bottom left;
}